header {
    background: #ffffff;
}
.logo {
    width: 238px;
    height: 24px;
    margin: 48px 10px 38px 100px;
}
.search { 
    width: 24px;
    height: 24px;
    margin: 52px 10px 34px 10px;
}
.about {
    width: 74px;
    height: 20px;
    margin: 50px 10px 40px 10px;
}
.shop {
    width: 58px;
    height: 20px;
    margin: 50px 10px 40px 10px;
}
.cart {
    width: 58px;
    height: 20px;
    margin: 50px 10px 40px 10px;
}
.bag {
    height: 24px;
    width: 17.29px;
    margin: 50px 104.35px 36px 3.35px;
}
a {
    text-decoration: none;
    color: #000000;
}
p {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #000000;
}
.first_part {
    background-image: url(./images/Rectangle.jpg);
    width: 100%;
    left: 0px;
    right: 0px;
}
h1 {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}
h2  {
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000000;
}
h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
.third_part {
    background-image: url(./images/Rectangle2.png);
    width: 100%;
    left: 0px;
    right: 0px;
}